In [1]:
import pandas as pd

In [2]:
user_input = input("Enter the Stock Symbol")
df = pd.read_csv(f'./equities/{user_input}.csv')
df.head()

         Date       Open       High        Low      Close  Adj Close    Volume
0  1996-01-01  18.691147  18.978922  18.540184  18.823240  12.409934  43733533
1  1996-01-02  18.894005  18.964767  17.738192  18.224106  12.014933  56167280
2  1996-01-03  18.327892  18.568489  17.643839  17.738192  11.694572  68296318
3  1996-01-04  17.502312  17.832542  17.223972  17.676863  11.654143  86073880
4  1996-01-05  17.738192  17.785366  17.459852  17.577793  11.588823  76613039